table {
  text-align: left;
  position: relative;
  //border-collapse: collapse;
}

thead tr td {
  background: Gainsboro;
  position: sticky;
  top: 0px; /* Don't forget this, required for the stickiness */
}

tbody tr:nth-child(odd) {
  background: #eee;
}